<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Читатель</title>
</head>
<body>
  <p th:text="${person.getName()}">Value</p>
  <p th:text="${person.getYearOfBirth()}"></p>

  <br>

  <p th:if="${person.getBooks().isEmpty()}">Человек пока не взял ни одной книги</p>

  <div th:if="${!person.getBooks().isEmpty()}">
      <p>Книги:</p>
      <div th:each="book : ${person.getBooks()}">
          <p th:if="${!book.isOverdue()}" th:text="${book.getName()} + ', ' + ${book.getYearOfProduction()}"></p>
          <p th:if="${book.isOverdue()}" style="color: red" th:text="${book.getName()} + ', ' + ${book.getYearOfProduction()}"></p>
      </div>
  </div>

  <br>
  <hr>

  <a th:href="@{/people/{id}/edit (id=${person.getId()})}" >Редактировать</a>

  <form th:method="DELETE" th:action="@{/people/{id} (id=${person.getId()})}">
    <input type="submit" value="Удалить">
  </form>
</body>
</html>