<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поиск</title>
</head>
<body>
    <form th:action="@{/books/search}" method="post">
        <label for="searchRequest">Введите название книги</label>
        <input type="text" name="searchRequest" placeholder="название книги" id="searchRequest"/>
        <br>
        <button type="submit">Найти</button>
    </form>
    <br>
    <div th:if="${books != null}" th:each="book : ${books}">
        <a th:href="@{/books/{id}(id=${book.getId()})}"
           th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYearOfProduction()}"></a>

        <p th:if="${book.getPerson() != null}" th:text="'Книга сейчас у: ' + ${book.getPerson().getName()}"></p>
        <p th:if="${book.getPerson() == null}" th:text="'Книга сейчас свободна'"></p>
        <hr>
    </div>
    <br>
</body>
</html>